body {
  background-color: #181818;
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
}

p, h1 {
  margin: 0;
  padding: 0;
}

p {
  padding: 50px 0px 0px 50px;
}

.subheading {
    text-align: center;
    padding: 40px 20px 10px 20px;  /* top 50px, left/right 20px, bottom 0 */
    max-width: 850px;
    margin: 0 auto;
    box-sizing: border-box; /* recommended */
    font-size: clamp(20px, 2vw, 16px);
}

h1 {
  text-align: center;
  font-size: 60px;
}

.buttonrow {
  display: flex;
  justify-content: center;
  gap: 20px; 
  flex-wrap: wrap;
  margin-top: 20px; 
}

.row {
  display: flex;
  justify-content: center;
  gap: 20px; 
  flex-wrap: wrap;
  margin-top: 10px; 
}

.buttoncontainer,
.buttoncontainer2 {
  background-color: whitesmoke;
  color: #181818;
  display: inline-block;
  border: 1px solid transparent;
}

.buttoncontainer a,
.buttoncontainer2 a {
  padding: 9px 19px;
  display: inline-block;
}

.buttoncontainer:hover,
.buttoncontainer2:hover {
  background-color: #181818;
  border-color: whitesmoke;
}

.buttoncontainer:hover a,
.buttoncontainer2:hover a {
  color: whitesmoke;
}     

p a {
  color: whitesmoke;
  text-decoration: none;
  font: inherit;
  cursor: pointer;
}

a {
  color: #181818;
  text-decoration: none;
  font: inherit;
  cursor: pointer;
  padding: 9px 19px;
}


