body {
  background-color: #fbe3e2;
  color: #E75480;
  font-family: 'kindegarten', sans-serif;
}

p a {
  color: #C2185B;
  text-decoration: none;
  font: inherit;
  cursor: pointer;
}

.return {
  margin: 50px 0px 0px 50px;
}

.chat-window {
  width: 60%;
  margin: 40px auto;
  padding: 20px;
  height: 70vh;
  overflow-y: auto;
  border: 10px solid #E75480;
  border-top: 40px solid;
  border-radius: 20px;         

  box-sizing: border-box;
}

.message {
  max-width: 70%;
  margin-bottom: 10px;
  padding: 10px 14px;
  border-radius: 8px;
  position: relative;
  display: inline-block;
  line-height: 1.4;
  clear: both;
}

.message.sent {
  background-color: #fff;
  float: right;
  border-top-right-radius: 0;
}

.message.received {
  background-color: #fff;
  float: left;
  border-top-left-radius: 0;
}

#nextBtn {
  font-family: 'kindegarten', sans-serif;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  background: #E75480;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 1.5rem auto; 
}

#nextBtn:hover {
  background: #D9436F;
}
